{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Редактировать автора</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Контейнер формы (все поля уже стилизованы виджетами) -->
        {{ form }}
        {{ formset.management_form }}
        {% for f in formset %}
            {{ f }}
        {% endfor %}

        <!-- Кнопка отправки -->
        <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
    </form>
</div>
{% endblock %}
